/* VARIABLES */
:root{
    --principal: #EA5455;
    --secundario: #F07B3F;
    --oscuro: #2D4059;
    --claro: #FFD460;
    --claro2: rgba(255, 212, 96, 0.1);
    --claro3: rgba(240, 123, 63, 0.5);
    --parrafo: 1rem;
    --menu: 1rem;
    --titulo: 1.8rem;
    --subtitulo: 1.2rem;
}

/* FUENTES */
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-negrita';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(../fonts/Satisfy-Regular.ttf);
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */
body{
    font-family: "Roboto";
    background-color: var(--claro2);
    font-size: var(--parrafo);
}

.contenedor{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

section{
    padding: 30px 10px;
}

.titulo-seccion{
    color: var(--principal);
    text-align: center;
    padding-bottom: 20px;
    font-size: var(--titulo);
    font-family: "Roboto-negrita";
}

p{
    line-height: 150%;
    text-align: justify;
    color: #000;
    margin: 15px 0;
}

img{
    width: 100%;
}

/* HEADER */
header{
    background-image: url(../img/5-gastronomia-paises-mundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
}
/* Header Comida */
header.comidanacional{
    background-image: url(../img/FondoComidaNacional.png);
}
.color-fondo{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.menu-principal{
    text-align: right;
    padding: 2rem 0;
}

.menu-principal ul{
    list-style-type: none;
}

.menu-principal ul li{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
}

.menu-principal ul li a{
    color: #FFF;
    text-decoration: none;
    font-size: var(--menu);
    font-weight: bold;
    transition: ease all 0.5s;
}

.menu-principal ul li:hover a{
    border-bottom: 1px solid #fff;
    text-shadow: 0px 0px 10px #FFF;
}
/*
.menu-principal ul li:hover{
    background-color: rgba(255,255,255,0.2);
    transition: ease all 0.5s;
}
*/

header .titulo{
    font-family: "Satisfy";
    color: #FFF;
    text-align: center;
    line-height: 150%;
    font-size: 2.5rem;
    margin: 10% auto;
    width: 90%;
    max-width: 700px;
    border: 3px solid rgba(255,255,255,0.3);
    padding: 20px;
    border-radius: 10px;
}

header .titulo p{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

/* ACERCA DE */
.acercade{
    background-color: #FFF;
}

/* AREAS DE FORMACION */
.padre-tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /*baja el contenido a una nueva fila*/
    justify-content: space-between;
}

.tarjeta{
    width: 30%;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.tarjeta .flotar{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;

    display: none;
}

.tarjeta:hover .flotar{
    display: block;
    transition: all 1s ease;
}

.tarjeta:hover img{
    filter: grayscale(0.7);
}

.tarjeta .flotar h3{
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px #000;
    margin-bottom: 50px;
}

.tarjeta .flotar a{
    background-color: var(--principal);
    color: #FFF;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 5px;
}
.tarjeta .flotar a:hover{
    background-color: var(--secundario);
    transition: all ease 0.5s;
}

/*pensun*/
.pensum table{
    width:100%;
    border: 2px solid var(--secundario);
    border-collapse: collapse;
    font-size: var(--subtitulo);
}
.pensum table tr th,
.pensum table tr td{
    padding: 20px 30px;
    width: 30%;
    line-height: 200%;
}

.pensum table tr th{
    border-bottom: 2px solid var(--secundario);
    font-size: 1.5rem;
}
.pensum{
    background-color: white;
}
.naranja{
    background-color: var(--claro3);
    border-left: 2px solid var(--secundario);
    border-right: 2px solid var(--secundario);
}
/*formulario de contacto*/
.contacto form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    font-size: var(--subtitulo);
}
.contacto form label{
    width: 30%;
    margin-top: 20px;
}
.contacto form input,
.contacto form textarea{
    width: 70%;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: var(--subtitulo);
    border: 1px solid var(--oscuro);
    border-radius: 5px;
    color: black;
}
.contacto form textarea{
    min-width: 50%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
    font-family: "Roboto";
}
.contacto form input:invalid,
.contacto form textarea:invalid{
    border: 2px solid var(--principal);
}
.contacto form input:valid,
.contacto form textarea:valid{
    border: 2px solid var(--oscuro);
}

.contacto form input[type="submit"]{
    background-color: var(--oscuro);
    color: white;
    width: 40%;
    border:transparent;
}
.contacto form input[type="reset"]{
    background-color: var(--oscuro);
    color: white;
    width: 40%;
    border:transparent;
}
.contacto form input[type="submit"]:hover,
.contacto form input[type="reset"]:hover{
    
    box-shadow: 0px 0px 10px var(--oscuro);
}
/*Direccion en google maps*/
.direecion{
    background-color: #fff;
}
.direccion .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.direccion .contenedor article{
    width: 50%;
}
.direccion .contenedor h2{
    display:block;
    width: 100%;
}
.direccion .contenedor article p{
    text-align: center;
    padding: 0 20px;
    margin: 5px;
}

.direccion iframe{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

/*Footer*/
footer{
    background-color: var(--principal);
    padding: 30px 20px;
    margin-top: -4px ;
}
footer .contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
footer .contenedor a{
    color: #fff;
    font-size: var(--titulo);
    width: 70px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    padding: 20px 0px;
    border-radius: 50%;

}
footer .facebook:hover{
    background-color: #1877f2;
    transition: all 0.5s ease;
}
footer .youtube:hover{
    background-color: #ff0000;
    transition: all 0.5s ease;
}
footer .instagram:hover{
    background: linear-gradient(to bottom right, blue, purple, red, yellow);
    transition: all 0.5s ease;
}
footer .whatsapp:hover{
    background-color: #128C7E;
    transition: all 0.5s ease;
}
footer .twitter:hover{
    background-color: #1da1f2;
    transition: all 0.5s ease;
}
footer .tiktok:hover{
    background-color: #000;
    transition: all 0.5s ease;
}
footer p{
    text-align: center;
    color: #fff;
    margin: 10px 0 0 0;
}
.pensum-celular{
    display: none;
}
section.direccion{
    padding-bottom: 0px;
}
/*Menu movil*/
header .contenedor .boton-menu-movil{
    color: #fff;
    font-size: var(--subtitulo);
    position: relative;
    display: none;

}
/*Flecha arriba*/
.flecha{
        font-size: 3.5rem;
        color: var(--secundario);
        position: fixed;
        bottom: 0;
        right: 20px;
        
}
.flecha a:hover{
    color: #5ff351;
    font-size: 3.6rem;
    transition: ease all 0.5s;
}
.flecha a{
    color: rgb(8, 165, 8);
    text-decoration: none;
}
/* MEDIA QUERIES*/

/*tableta 768 a 1024x*/
@media screen and (max-width: 1024px){
    .tarjeta{
        width: 48%;
    }
    .pensum table tr th {
        border-bottom: 2px solid var(--secundario);
        font-size: 1.2rem;
    }
    .pensum table {
        font-size: 1rem;
    }
    .titulo-section {
        font-size: 1.5rem;
    }
    .direccion .contenedor article {
        width: 100%;
    }
    header .titulo h1{
        font-size: 3.5rem;
    }
}
/*celular 0 a 768px*/
@media screen and (max-width: 768px){
    header .titulo h1{
        font-size: 2.5rem;
    }
    header ,.titulo p{
        font-size: 1.5rem;
    }
    .tarjeta{
        width: 100%;
    }
    .pensum table{
        display: none;
    }
    .pensum table.pensum-celular{
        display: block;
    }
    .pensum-celular .naranja{
        border: none;
    }
    .pensum-celular th.naranja{
        border-top: 2px solid var(--secundario);
    }
    .pensum-celular td.naranja{
        border-bottom: 2px solid var(--secundario);
    }
    .contacto form, 
    .contacto form label,
    .contacto form input,
    .contacto form textarea
    {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .contacto form input, .contacto form textarea {
        margin-top: 5px;
        margin-bottom: 17px;
    }
    .contacto form label {
        margin-top: 0px;
    }
    section.direccion{
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Menu Hamburguesa
    .boton-menu-movil{
        display: block;
        color: white;
        margin-left: 50px;
    }
    .boton-menu-movil:hover,
    .menu-principal ul li {
        display: block;
        color: white;
        margin-left: 50px;
    }
    .menu-principal ul li{
        display: none;
    }*/
    header .contenedor nav.menu-principal{
        position: fixed;
        width: 100%;
        background-color: var(--principal);
        top: 0;
        left: 0;
        height: 55%;
        padding: 80px 15px;
        display: block;
        flex-direction: column;
        z-index: 10;
        transform: translateX(100%);
        transition: all 0.4s ease;

    }
    header .contenedor nav.menu-principal ul li{
        display: block;
        width: 100%;
        text-align: left;
    }
    header .contenedor .boton-menu-movil{
        display: block;
        text-align: right;
        font-size: var(--titulo);
        padding: 15px;
        margin-bottom: 150px;
        z-index: 11;
    }
    header .contenedor nav.abrir-menu{
        transform: translate(0);
    }
    footer .contenedor a{
        border-radius: 50%;
    }
}